/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0; /* Elimina el margen en todos los lados */
    padding-left: 20px; /* Agrega un margen izquierdo */
    background-color: #f0f0f0;
    max-width: 100%; /* Ajusta el ancho máximo del contenido */
}

.a {
    text-decoration: none;
    color: black;
    
}

/* Estilos para el título */
.titulo {
    width: 1830px;
    height: 100px;
    background-color: #984CB4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', 'Maven Pro', 'Poppins', cursive, sans-serif;
    color: black;
    font-size: 32px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
  
}

.titulo:hover {
    transform: scale(1.2);
}

/* Estilos para el contenedor principal */
.contenedor {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Estilos para las imágenes en la tabla */
.imagen-table {
    width: 200px;
    height: 200px;
    background-color: white;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.imagen-table img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.imagen-table:hover {
    transform: scale(1.2);
}

/* Estilos para los textos debajo de las imágenes */
.imagen-table p {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'Kalam', 'Maven Pro', 'Poppins', cursive, sans-serif;
    border-color: black;
}

/* Estilos específicos para algunas imágenes */
.imagent, .gaucha {
    margin-left: 50px;
}

.imagent img, .gaucha img {
    width: 200px;
    height: 200px;
    background-color: black;
    transition: transform 0.3s ease;
    border-radius: 10%;
}

.imagent img:hover, .gaucha img:hover {
    transform: scale(1.2);
}

/* Estilos para el elemento con clase "qp" */
.qp {
    width: 300px;
    height: 300px;
    display: grid;
    margin-top: 10%;
}

.qp:hover {
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

/* Estilos para el texto centrado en la parte superior */
.agregar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Kalam', 'Maven Pro', 'Poppins', cursive, sans-serif;
    font-size: 40px;
    margin-left: 80px;
}

/* Espacio entre las celdas de la tabla */
table {
    border-collapse: separate;
    border-spacing: 20px; /* Ajusta el valor para obtener el espacio deseado */
    border-radius: 10px; /* Agrega bordes redondeados a la tabla */
    width: 90%; /* Ajusta el ancho de la tabla */
   margin-left: 0px;
}
