/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tu código CSS restante */
/* Agrega estos estilos para el título */
.titulo {
    width: 100%;
    height: 100px;
    background-color: #984CB4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', 'Maven Pro', 'Poppins', cursive, sans-serif;
    color: black;
    font-size: 32px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease;
}

.titulo:hover {
    transform: scale(1.2); /* Hace que el título se haga un 20% más grande al pasar el cursor */
}

